      
# Core application and UI
streamlit
pandas
plotly
# PDF and Text Processing
PyMuPDF
PyPDF2

# API clients and data handling
requests
pydantic
pygbif
PyYAML

# LLM SDKs
google-genai
ollama

    